<div class="container">

  <h1>
  	<span class="icon-user"></span>
  	<span>Log In</span>
  </h1>

  <form name="loginForm" ng-submit="vm.login()" novalidate="novalidate" class="form-horizontal">

    <div class="form-group">
      <label class="col-sm-3 control-label">
      	<span>Email</span>
      	<span class="requiredAsterix">*</span>
      </label>
      <div class="col-sm-8 col-md-6">
        <input type="email" ng-model="vm.loginModel.email" name="email" placeholder="Email" required="required" class="form-control"/>
        <div ng-messages="loginForm.email.$error" ng-if="loginForm.$submitted || loginForm.email.$touched" class="formErrorMessage">
          <div ng-message="required">Please enter your email address.</div>
          <div ng-message="email">Email address is not valid.</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">
      	<span>Password</span>
      	<span class="requiredAsterix">*</span>
      </label>
      <div class="col-sm-8 col-md-6">
        <input type="password" ng-model="vm.loginModel.password" name="password" placeholder="Password" required="required" class="form-control"/>
        <div ng-if="(loginForm.$submitted || loginForm.password.$touched) && loginForm.password.$error.required" class="formErrorMessage">Please enter your password.</div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-3">
        <button type="submit" class="btn btn-medium btn-primary">Log In</button>
      </div>
    </div>

  </form>
</div>
