<div class="container">

  <h1>
  	<span class="icon-cog2"></span>
  	<span>Settings</span>
  </h1>

  <div class="form-horizontal fakeForm">

    <div class="form-group">
      <label class="col-sm-2 control-label">Date</label>
      <div class="col-sm-7 col-md-5">{{ vm.dateTimeObj.date }}</div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">GMT Time</label>
      <div class="col-sm-7 col-md-5"> {{ vm.dateTimeObj.time }}</div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">IP</label>
      <div class="col-sm-7 col-md-5"> {{ vm.ipAddress }}</div>
    </div>

  </div>
</div>
